/* ---------------------------------------- */

/* Custom CSS styles for https://bencuan.me */

/* © 2019 Ben Cuan - MIT License            */

/* Created Summer 2019                      */

/* ---------------------------------------- */

/* ====================================
 * COLOR PALETTE
 * https://materializecss.com/color.html
 * #23BCFF Background Blue
 * #888888 Dark Grey
 * #FFFFFF White
 * #283593 indigo darken-3
 * #90caf9 blue lighten-3
 * #ff9800 orange
 * ==================================== */

/* ====================================
 * UNIVERSAL
 * ==================================== */

* {
  /* Disable scrolling on main page */
  overflow: hidden;
  font-family: 'Squada One', sans-serif;
  color: white;
  /* Default transition */
  transition: all 0.5s ease-in-out 0s;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
  margin: auto;
}

.no-select {
  user-select: none;
}

/* ====================================
 * INTERCEPT PAGE
 * ==================================== */

#welcome-page {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1000;
  animation: launch-intercept 0.5s ease-in-out 2s 1 forwards;
  /* transition: none; */
  opacity: 0;
  font-family: 'Source Code Pro', monospace;
}

#welcome-page h1 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 4rem;
  animation: welcome-invert-text 1.5s ease-in-out 0.5s 1 forwards;
  opacity: 0;
  margin-top: 10vh !important;
}

#welcome-page h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  font-weight: lighter;
  animation: welcome-invert-text 1.5s ease-in-out 0.5s 1 forwards;
  opacity: 0;
  margin: 0;
}

/* Intercept texts */

.welcome-page-text {
  margin: 8vh;
  display: inline-block;
}

.loading-intercepted-text {
  font-family: 'Source Code Pro', monospace;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Animations added on individual id styles*/
  display: inline-block;
  width: 0;
  animation: typing 2s steps(40, end) 0s 1 forwards, blink-caret 0.5s step-end 3;
}

.glitch {
  position: relative;
}

.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  /* ... anything needed to make it identical */
  /* variation */
  left: 3px;
  text-shadow: -2px 0 red;
  /* important: opaque background masks the original */
  animation: glitch-anim-1 1s 3 ease-in-out alternate-reverse;
}

.glitch::after {
  /* ... anything needed to make it identical */
  /* variation */
  left: -3px;
  text-shadow: -2px 0 blue;
  /* important: opaque background masks the original */
  animation: glitch-anim-2 1s 3 linear alternate-reverse;
}

.blue-glitch::before, .blue-glitch::after {
  background: #23BCFF !important;
  animation-delay: 1s !important;
}

#int-text-1, #int-text-1:before, #int-text-1:after {
  font-size: 2.5rem;
  animation-delay: 3s !important;
}

#int-text-2 {
  animation-delay: 6s !important;
}

#int-text-2:before, #int-text-2:after {
  animation-delay: 6s !important;
}

#int-text-3 {
  animation-delay: 9s !important;
}

#int-text-3:before, #int-text-3:after {
  animation-delay: 9s !important;
}

#int-text-4 {
  animation-delay: 12s !important;
}

#int-text-4:before, #int-text-4:after {
  animation-delay: 12s !important;
}

/* Intercept image selection */

#welcome-choice {
  opacity: 0;
  animation: show-after-delay 3s ease-in-out 12s 1 forwards;
}

.welcome-choice-or {
  font-size: 2rem;
}

.splash-image-pixel, .splash-image-art {
  height: 30vh;
  width: 30vh;
  /* background-image: url('../img/profile.png'); */
  background-size: contain;
  mask-size: contain;
  -webkit-mask-image: url('../img/mask.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position-y: 30vh;
  -webkit-mask-position-x: 5vh;
}

.grey-fill {
  /* -webkit-mask-image: url('../img/profile.png'); */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background: #888888;
  height: 30vh;
  width: 30vh;
}

.grey-fill-pixel {
  -webkit-mask-image: url('../img/profile.png');
}

.grey-fill-art {
  -webkit-mask-image: url('../img/profile-art.png');
}

.splash-image-pixel:hover, .splash-image-art:hover {
  animation: paint-fill 1s ease-in-out 0s 1 forwards;
}

.splash-image-selected {
  -webkit-mask-position-y: 0vh !important;
  -webkit-mask-position-x: -50vh !important;
}

.splash-image-pixel {
  background-image: url('../img/profile.png');
}

.splash-image-art {
  background-image: url('../img/profile-art.png');
}

.welcome-box {
  border: 5px solid black;
  height: 30vw;
  width: 30vw;
  cursor: pointer;
}

.welcome-box:hover .welcome-box-label, .welcome-label-selected {
  opacity: 1 !important;
}

.welcome-box-label {
  opacity: 0;
  font-size: 2.5rem;
}

/* Skip button */

#skip-button-container {
  position: absolute;
  opacity: 1;
  top: 2vw;
  right: 2vw;
  z-index: 999;
  padding: 1px;
  cursor: pointer;
}

#skip-button-container:hover {
  border: solid white 1px;
}

/* ====================================
 * LANDING PAGE
 * ==================================== */

#landing {
  background-color: #23BCFF;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#logo img {
  height: 30vh;
  width: 30vh;
}

#logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button-row {
  animation: show-after-delay 1s ease-in 4s 1 forwards;
  opacity: 0;
}

.loading {
  font-size: 5rem;
  animation: hide-after-delay 1s ease-in 2s 1 forwards;
}

.name {
  font-size: 5rem;
  animation: show-after-delay 1s ease-in 3s 1 forwards;
  opacity: 0;
}

.anchor-bottom {
  bottom: 5vh;
  position: absolute;
  width: 100vw;
  height: 15vh;
}

#white-overlay {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  transition: none;
  pointer-events: none;
}

.landing-art * {
  font-family: 'Cormorant Garamond', serif, sans-serif;
}

/* ====================================
 * BUTTONS
 * ==================================== */

.expand-button {
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  line-height: 1.15;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 1vh;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .expand-button {
    margin-left: 3vh;
    margin-right: 3vh;
  }
  .expand-button:hover {
    width: 24vh;
    border-radius: 8vh;
    border: 3px solid white;
    background-color: white;
    color: black;
  }
  .expand-button:hover i {
    color: black;
    transform: translateY(-0.5rem);
    padding-right: 1rem;
  }
}

.expand-button-content {
  display: inline-block;
  transition: none;
  color: black;
  font-size: 2rem;
  text-align: center;
  width: 0%;
  overflow: hidden;
  transition: width 2s ease-in-out;
  cursor: pointer;
}

#launch-button {
  height: 8vh;
  width: 16vh;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  line-height: 1.15;
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  animation: show-after-delay 1s ease-in 5s 1 forwards;
  font-size: 1.5rem;
  margin-top: 2vh;
  cursor: pointer;
}

#launch-button:hover, .launch-button-activated {
  width: 8vh !important;
  border-radius: 100%;
  box-shadow: 0px 0px 12px 1px white;
  border: 0px;
  background-color: white !important;
}

#launch-button:hover i, .launch-button-activated i {
  color: black;
}

#launch-button-rope {
  bottom: 12vh;
  width: 0px;
  height: 0vh;
  /*Animated to extend to 12vh */
  border-right: 3px solid white;
  border-left: 3px solid white;
  position: absolute;
  box-shadow: 0px 0px 12px 0px white;
  left: 50vw;
  /* animation: launch-content-rope 1s ease-in-out 0.25s 1 forwards; ONCLICK */
}

/* ====================================
 * CONTENT PORTALS
 * ==================================== */

#content {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: relative;
  /* animation: launch-content 1s ease-in 0.7s 1 forwards; ENABLED THROUGH SCRIPT */
}

.content-square {
  height: 50vh;
  width: 50vw;
  margin: 0 !important;
  position: absolute;
}

.content-square .content-label-top {
  font-size: 3rem;
  margin-top: 3vh;
}

.content-square .content-label-bottom {
  font-size: 3rem;
  bottom: 3vh;
  color: black;
  margin-top: 65%;
}

.content-square-activated .content-label-bottom {
  margin-top: 3vh !important;
  bottom: inherit !important;
}

.content-square-activated {
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  /* top: 0 !important;
  left: 0 !important; */
}

.nohover-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.nohover-overlay:hover {
  opacity: 0;
}

.content-square-activated .nohover-overlay {
  display: none !important;
  opacity: 0;
}

#about-square {
  background-color: #90caf9;
  left: 0;
  top: 0;
}

#art-square {
  background-color: #222222;
  right: 0;
  bottom: 0;
}

#code-square {
  background-color: #ff9800;
  top: 0;
  right: 0;
}

#org-square {
  background-color: white;
  bottom: 0;
  left: 0;
}

#back-button-container, #close-button-container {
  position: absolute;
  opacity: 0;
  z-index: 999;
  right: 5vw;
}

#back-button-container {
  bottom: 5vw;
}

#close-button-container {
  top: 5vw;
  z-index: 9999;
}

/* ==========================
 *  CUSTOM SELECTION
 * ========================== */

::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
  text-shadow: 0 0 0.5rem #1976d2;
}
