/* ---------------------------------------- */

/* Custom CSS styles for https://bencuan.me */

/* © 2019 Ben Cuan - MIT License            */

/* Created Summer 2019                      */

/* ---------------------------------------- */

/* ====================================
 * COLOR PALETTE
 * https://materializecss.com/color.html
 * #23BCFF Background Blue
 * #888888 Dark Grey
 * #FFFFFF White
 * #283593 indigo darken-3
 * #90caf9 blue lighten-3
 * ==================================== */

/* ====================================
 * UNIVERSAL
 * ==================================== */

* {
  /* Disable scrolling on main page */
  overflow: hidden;
  font-family: 'Khand', sans-serif;
  color: white;
  /* Default transition */
  transition: all 0.5s ease-in-out 0s;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
  margin: auto;
}

.no-select {
  user-select: none;
}

/* ====================================
 * LANDING PAGE
 * ==================================== */

#landing {
  background-color: #23BCFF;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.splash-image {
  height: 30vh;
  width: 30vh;
  background-image: url('../img/profile.png');
  background-size: contain;
  mask-size: contain;
  -webkit-mask-image: url('../img/mask.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position-y: 30vh;
  -webkit-mask-position-x: 5vh;
  transition: none;
  animation: paint-fill 4s ease-in-out 0s 1 forwards;
}

.grey-fill {
  -webkit-mask-image: url('../img/profile.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  background: #888888;
  height: 30vh;
  width: 30vh;
  margin-top: 10vh;
}

.button-row {
  animation: show-after-delay 1s ease-in 4s 1 forwards;
  opacity: 0;
}

.loading {
  font-size: 5rem;
  animation: hide-after-delay 1s ease-in 2s 1 forwards;
}

.name {
  font-size: 5rem;
  animation: show-after-delay 1s ease-in 3s 1 forwards;
  opacity: 0;
}

.anchor-bottom {
  bottom: 5vh;
  position: absolute;
  width: 100vw;
  height: 15vh;
}

/* ====================================
 * BUTTONS
 * ==================================== */

.expand-button {
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  line-height: 1.15;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 1vh;
  display: inline-block;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .expand-button {
    margin-left: 3vh;
    margin-right: 3vh;
  }
  .expand-button:hover {
    width: 24vh;
    border-radius: 8vh;
    border: 3px solid white;
    background-color: white;
    color: black;
  }
  .expand-button:hover i {
    color: black;
    transform: translateY(-0.5rem);
    padding-right: 1rem;
  }
}

.expand-button-content {
  display: inline-block;
  transition: none;
  color: black;
  font-size: 2rem;
  text-align: center;
  width: 0%;
  overflow: hidden;
  transition: width 2s ease-in-out;
}

#launch-button {
  height: 8vh;
  width: 16vh;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  text-decoration: none;
  line-height: 1.15;
  display: inline-block;
  white-space: nowrap;
  opacity: 0;
  animation: show-after-delay 1s ease-in 5s 1 forwards;
  font-size: 1.5rem;
  margin-top: 2vh;
}

#launch-button:hover, .launch-button-activated {
  width: 8vh !important;
  border-radius: 100%;
  box-shadow: 0px 0px 12px 1px white;
  border: 0px;
  background-color: white !important;
}

#launch-button:hover i, .launch-button-activated i {
  color: black;
}

#launch-button-rope {
  bottom: 12vh;
  width: 0px;
  height: 0vh; /*Animated to extend to 12vh */
  border-right: 3px solid white;
  border-left: 3px solid white;
  position: absolute;
  box-shadow: 0px 0px 12px 0px white;
  left: 50vw;
  /* animation: launch-content-rope 1s ease-in-out 0.25s 1 forwards; ONCLICK */
}

/* ====================================
 * CONTENT PORTALS
 * ==================================== */

#content {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  /* animation: launch-content 1s ease-in 0.7s 1 forwards; ENABLED THROUGH SCRIPT */
}

/* ====================================
 * ANIMATIONS
 * ==================================== */

@keyframes launch-content {
  0% {}
  20% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(-70vh);
  }
  30%, 70% {
    transform: translateY(-85vh);
  }
  40%, 60% {
    transform: translateY(-75vh);
  }
  80% {
    transform: translateY(-100vh);
  }
  85%, 95% {
    transform: translateY(-92vh);
  }
  90% {
    transform: translateY(-90vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes launch-content-rope {
  to {
    height: 12vh;
    bottom: 0;
  }
}

@keyframes show-after-delay {
  to {
    opacity: 1;
  }
}

@keyframes hide-after-delay {
  to {
    opacity: 0;
    display: none;
    height: 0;
  }
}

@keyframes paint-fill {
  to {
    -webkit-mask-position-y: 0vh;
    -webkit-mask-position-x: -50vh;
  }
}
