/* ===================================
Color Palette for bencuan.me - v3_2020
Created by Ben Cuan
====================================== */

// Main colors
$bg: #293241;
$footer: #272635;
$highlight: #e097ff;
$accent: #26FFE6;
$secondary: #3ABEFF;

// Gradient colors
$gradient1: #3b0da2;
$gradient2: #0C98D4;
$gradient3: #5c2e88;
$gradient4: #C133A3;

// Special colors
$resume: #d40606;
$linkedin: #0d5aa7;
$itch: #ef8001;
$email: #efc522;
