/* ===================================
Color Palette for bencuan.me - v3_2020
Created by Ben Cuan
====================================== */

// Main colors
$bg: #293241;
$bg-light: #435166;
$footer: #272635;
$highlight: #e097ff;
$accent: #26ffe6;
$secondary: #3abeff;

// Gradient colors
$gradient1: #3b0da2;
$gradient2: #0c98d4;
$gradient3: #5c2e88;
$gradient4: #c133a3;

// Special colors
$github: #181717;
$resume: #6f02b5;
$linkedin: #0d5aa7;
$itch: #fa5c5c;
$email: #43a047;
$logo: #23bcff;

$about: #ef8354;
$projects: #38bc76;
$contact: #a63a50;

$selection: #edc2ff;
