 <!-- START ABOUT -->
<div id="about" class="container content-section">
    <div class="section-head left-head">About Me</div>
    <div class="content-box" id="about-content">
    <div class="content content-text">
        Hi there! I'm Ben, a student at UC Berkeley studying Computer Science and Psychology.
        I'm an aspiring <b>full stack developer</b> who strives to make <b>responsive, beautiful frontends</b>
        without compromising on <b>efficient, developer-friendly backends.</b>

        <br><br>

        In addition to the typical software stack, you can often find me <b>designing and developing games</b> with my
        fellow developers at <a href="#" class="link">Trisagion Games</a>.

        <br><br>

        Here are some of the tools I use most frequently:

        <div class="row tools-table">
        <div class="col-2 tool-icons">
            <i class="fab fa-html5"></i>
            <i class="fab fa-sass"></i>
            <i class="fab fa-js"></i>
            <i class="fab fa-react"></i>
        </div>
        <div class="col-9 tools-text"><b>HTML5/CSS/Sass/JavaScript/React (Native)</b> for frontend development</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="fab fa-node-js"></i>
            <i class="icon-django"></i>
        </div>
        <div class="col-9 tools-text"><b>Node.js and Django</b> for backend development</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="fab fa-unity"></i>
        </div>
        <div class="col-9 tools-text"><b>C# with Unity for game development</b></div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="icon-adobexd"></i>
        </div>
        <div class="col-9 tools-text"><b>Adobe XD</b> for design</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="icon-linux"></i>
            <i class="icon-archlinux"></i>
            <i class="icon-ubuntu"></i>
        </div>
        <div class="col-9 tools-text"><b>Linux of all flavors</b> as my OS of choice</div>
        </div>
        <img class="about-img" alt="Profile Image" src="img/icon.png" loading="lazy">
    </div>

    </div>
</div>
<!-- END ABOUT -->