 <!-- START ABOUT -->
<div id="about" class="container content-section">
    <div class="section-head left-head">About Me</div>
    <div class="content-box" id="about-content">
    <div class="content content-text">
        <img class="about-img" alt="Profile Image" src="img/icon.png" loading="lazy">
        Hi there! I'm Ben, a 4th year student at UC Berkeley studying Computer Science and Psychology.
        I enjoy making all sorts of things (like this website!), especially in the full-stack development space. 
        I've also been rather involved in teaching, and am a current TA for <a href="https://cs186berkeley.net" target="_blank" class="link" rel="noopener">CS 186</a> (among <a href="#teaching" class="link">other things</a>).
        <br><br>

        In addition to the typical software stack, you can often find me designing and developing games with my
        fellow developers at <a href="https://hexcaliber.dev" class="link" target="_blank" rel="noopener">Hexcaliber Games</a>.

        <br><br>

        Here are some of the tools I use most frequently:

        <div class="row tools-table">
        <div class="col-2 tool-icons">
            <i class="fab fa-html5"></i>
            <i class="fab fa-sass"></i>
            <i class="fab fa-js"></i>
            <i class="fab fa-react"></i>
        </div>
        <div class="col-9 tools-text"><b>HTML5/CSS/Sass/JavaScript/React (Native)</b> for frontend development</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="fab fa-node-js"></i>
            <i class="icon-django"></i>
        </div>
        <div class="col-9 tools-text"><b>Node.js and Django</b> for backend development</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="fab fa-unity"></i>
        </div>
        <div class="col-9 tools-text"><b>C# with Unity</b> for game development</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            {% comment %} <i class="icon-adobexd"></i> {% endcomment %}
            <i class="fab fa-figma"></i>
        </div>
        <div class="col-9 tools-text"><b>Figma</b> for design</div>
        </div>
        <div class="row">
        <div class="col-2 tool-icons">
            <i class="icon-linux"></i>
            <i class="icon-archlinux"></i>
            <i class="icon-ubuntu"></i>
        </div>
        <div class="col-9 tools-text"><b>Linux of all flavors</b> as my OS of choice</div>
        </div>
        
    </div>

    </div>
</div>
<!-- END ABOUT -->