  <!-- START CONTACT -->
    <div id="contact" class="container content-section center">
      <div class="section-head center-head">Contact Me</div>
      <div class="contact-text center">
        Thanks for taking a look at my site! If there's anything (literally anything) you'd like to
        talk to me about, feel free to send an email to <a class="link" href="mailto:contact@bencuan.me">contact@bencuan.me</a>.
      </div>
      <div class="btn-proj btn-contact" onclick="openInNewTab('mailto:contact@bencuan.me')">
        <div class="content">Email me!</div>
      </div>
      <div class="contact-text center">
        I'm currently looking for Summer 2021 internships in the SF Bay Area.
        If you know of any opportunities, I'd love to hear about them!
      </div>
    </div>
  </div>
</div>
<!-- END CONTENT -->