<footer id="footer">
  <div class="footer-text center">Designed and developed with ❤️ by Ben Cuan, June 2021<br/>Last updated: August 2022</div>
  <div class="footer-text center"><a class="link" target="_blank" rel="noopener" href="https://github.com/64bitpandas/bencuan.me">Browse the source at <i class="fab fa-github footer-icon"></i> !</a></div>
  <div class="footer-text center"><a class="link" href="/2018">2018</a> | <a class="link" href="/2019">2019</a> | <a class="link" href="/2020">2020</a></div>
</footer>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://use.typekit.net/jps3ukf.css">
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/vendor/noframework.waypoints.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
    <link rel="stylesheet" href="/fontcustom/fontcustom.css">
  <script src="https://kit.fontawesome.com/585da7c89d.js" crossorigin="anonymous"></script>