 <!-- START LANDING -->
  <div id="landing">
    <div class="splash-gradient">
      <div class="splash-box" id="landing-box">
        <div class="splash-hi mobile-center">Hi! I'm</div>
        <div class="splash-name mobile-center">Ben Cuan.</div>
        <div class="splash-desc mobile-center">I'm a software developer and game designer.</div>
        <div class="splash-button-container row no-mobile">
          <div class="col-1"></div>
          <div class="col-2 splash-button-col">
            <div class="landing-btn github" id="github-btn" onclick="openInNewTab('https://github.com/64bitpandas')">
              <i class="fab fa-github"></i>
            </div>
          </div>
          <div class="col-2 splash-button-col">
            <div class="landing-btn linkedin" id="linkedin-btn"
              onclick="openInNewTab('https://linkedin.com/in/bencuan')">
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
          <div class="col-2 splash-button-col">
            <div class="landing-btn resume" id="resume-btn" onclick="openInNewTab('https://bencuan.me/resume')">
              <i class="fas fa-file-pdf"></i>
            </div>
          </div>
          <div class="col-2 splash-button-col">
            <div class="landing-btn email" id="email-btn" onclick="openInNewTab('mailto:contact@bencuan.me')">
              <i class="fas fa-envelope-open-text"></i>
            </div>
          </div>
          <div class="col-2 splash-button-col">
            <div class="landing-btn itch" id="itch-btn" onclick="openInNewTab('https://64bitpandas.itch.io')">
              <i class="fab fa-itch-io"></i>
            </div>
          </div>
          <div class="col-1"></div>
        </div>

        <div class="mobile-splash-buttons center">
          <div class="row">
            <div class="mobile-landing-btn github" onclick="openInNewTab('https://github.com/64bitpandas')">
              <i class="fab fa-github"></i>  GitHub
            </div>
          </div>
          <div class="row">
            <div class="mobile-landing-btn linkedin" id="linkedin-btn"
              onclick="openInNewTab('https://linkedin.com/in/bencuan')">
              <i class="fab fa-linkedin-in"></i> LinkedIn
            </div>
          </div>
          <div class="row">
           <div class="mobile-landing-btn resume" id="resume-btn" onclick="openInNewTab('https://bencuan.me/resume')">
              <i class="fas fa-file-pdf"></i>  Resume
            </div>
          </div>
          <div class="row">
            <div class="mobile-landing-btn email" id="email-btn" onclick="openInNewTab('mailto:contact@bencuan.me')">
              <i class="fas fa-envelope-open-text"></i>  Email
            </div>
          </div>
          <div class="row">
           <div class="mobile-landing-btn itch" id="itch-btn" onclick="openInNewTab('https://64bitpandas.itch.io')">
              <i class="fab fa-itch-io"></i>  Itch.io
            </div>
          </div>
        </div>

        <div class="github splash-info" id="github-splash">
          <div class="splash-info-padding">
            <div class="splash-hi">Check out my work on</div>
            <div class="splash-info-big">Github.</div>
            <div class="splash-desc">https://github.com/64bitpandas</div>
          </div>
        </div>
        <div class="linkedin splash-info" id="linkedin-splash">
          <div class="splash-info-padding">
            <div class="splash-hi">Check out my profile on</div>
            <div class="splash-info-big">LinkedIn.</div>
            <div class="splash-desc">https://linkedin.com/in/bencuan</div>
          </div>
        </div>
        <div class="resume splash-info" id="resume-splash">
          <div class="splash-info-padding">
            <div class="splash-hi">View my</div>
            <div class="splash-info-big">Resume.</div>
            <div class="splash-desc">https://bencuan.me/resume</div>
          </div>
        </div>
        <div class="email splash-info" id="email-splash">
          <div class="splash-info-padding">
            <div class="splash-hi">Email me!</div>
            <div class="splash-info-big splash-email">contact@bencuan.me</div>
          </div>
        </div>
        <div class="itch splash-info" id="itch-splash">
          <div class="splash-info-padding">
            <div class="splash-hi">Play my games at</div>
            <div class="splash-info-big">itch.io.</div>
            <div class="splash-desc">https://itch.io/profile/64bitpandas</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END LANDING -->