<!-- MORE PROJECTS SECTION -->
<div class="section-head center-head">More Projects</div>

<div class="row center proj-buttons">
<div class="btn-proj btn-proj-selected" id="proj-all">
    <div class="content">All</div>
</div>
<span class="btn-proj" id="proj-web">
    <div class="content">Websites</div>
</span>
<span class="btn-proj" id="proj-game">
    <div class="content">Games</div>
</span>
<span class="btn-proj" id="proj-app">
    <div class="content">Apps</div>
</span>
<span class="btn-proj" id="proj-other">
    <div class="content">Other</div>
</span>
</div>

<!-- START PROJECT CARDS -->
<div class="truncated" id="proj-cards">

<!-- START ROW 1 -->
<div class="row">

    <!-- START COL-6 -->
    <div class="col-6">

    <div class="content-box proj-card proj-other">
        <div class="content">

        <div class="proj-name">Dotfiles</div>
        <div class="center">
            <span class="feature-link proj-link" onclick="openInNewTab('https://github.com/64bitpandas')">
            <i class="fab fa-github"></i>
            </span>
            <span class="feature-link proj-link" onclick="openInNewTab('https://github.com/64bitpandas')">
            <i class="fas fa-external-link-square-alt"></i>
            </span>
        </div>
        <div class="proj-desc">A collection of personalized Linux configurations</div>
        <div class="proj-icons">
            <div class="proj-icon">
            <i class="fab fa-github"></i>
            <div class="icon-label">Test</div>
            </div>
            <div class="proj-icon">
            <i class="fab fa-github"></i>
            <div class="icon-label">Test</div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- END COL6 -->

    <div class="col-6">

    <div class="content-box proj-card proj-other">
        <div class="content">

        <div class="proj-name"><img src="img/dotfiles.png"></div>
        <div class="center">
            <span class="feature-link proj-link" onclick="openInNewTab('https://github.com/64bitpandas')">
            <i class="fab fa-github"></i>
            </span>
            <span class="feature-link proj-link" onclick="openInNewTab('https://github.com/64bitpandas')">
            <i class="fas fa-external-link-square-alt"></i>
            </span>
        </div>
        <div class="proj-desc">A collection of personalized Linux configurations</div>
        <div class="proj-icons">
            <div class="proj-icon">
            <i class="fab fa-github"></i>
            <div class="icon-label">Test</div>
            </div>
            <div class="proj-icon">
            <i class="fab fa-github"></i>
            <div class="icon-label">Test</div>
            </div>
        </div>
        </div>
    </div>
    <!-- END COL6 -->
    </div>
</div>
<!-- END ROW 1 -->

</div>
<!-- END PROJECT CARDS -->