<nav>
    <div class="nav-background home-color" id="nav-back"></div>
    <div id="nav-fill-home" class="nav-fill home-color"></div>
    <div id="nav-fill-about" class="nav-fill about-color"></div>
    <div id="nav-fill-proj" class="nav-fill proj-color"></div>
    <div id="nav-fill-contact" class="nav-fill contact-color"></div>
    <div id="nav-fill-resume" class="nav-fill resume"></div>
    <div class="row no-mobile">
      <div class="col-1">
        <a href="#landing" id="nav-home"><img src="img/icon-no-bg.png" alt="Panda"></a>
      </div>
      <div class="col-2">
        <a href="#about" id="nav-about"><i class="fas fa-info-circle"></i>  About</a>
      </div>
      <div class="col-2">
        <a href="#projects" id="nav-proj"><i class="fas fa-paint-roller"></i>  Projects</a>
      </div>
      <div class="col-2">
        <a href="#contact" id="nav-contact"><i class="fas fa-mobile"></i>  Contact</a>
      </div>
      <div class="col-2"></div>
      <div class="col-3">
        <a href="/resume" id="nav-resume" class="resume-button home-color-secondary"><i class="fas fa-file-pdf"></i> Resume </a>
      </div>
    </div>
    <div class="mobile-only row">
      <a href="#landing" id="mobile-nav-home"><img src="img/icon-no-bg.png" alt="Panda"></a>
      <div id="burger-btn" class="burger burger-rotate">
        <div class="burger-lines"></div>
      </div>
    </div>

    <div class="mobile-only home-color" id="burger-menu">
        <a href="#about" id="mobile-nav-about" class="burger-link" ><i class="fas fa-info-circle"></i>  About</a>
        <a href="#projects" id="mobile-nav-proj" class="burger-link"><i class="fas fa-paint-roller"></i>  Projects</a>
        <a href="#contact" id="mobile-nav-contact" class="burger-link"><i class="fas fa-mobile"></i>  Contact</a>
        <a href="/resume" id="mobile-nav-resume" class="burger-link" ><i class="fas fa-file-pdf"></i>  Resume </a>
    </div>
</nav>