 <!-- START TEACHING -->
<div id="teaching" class="container content-section">
    <div class="section-head center-head">Teaching</div>
    <div class="content-box" id="teaching-content">
        <div class="content content-text">
            I'm currently a TA for <a href="https://cs186berkeley.net" target="_blank" class="link" rel="noopener">CS 186</a>, the Databases course at Berkeley. (If you're a 186 student right now, hello! Please come by discussion and OH for fun times :)
            <br /><br />
            Previously, I have also been a TA and tutor for <a href="https://cs61a.org" target="_blank" class="link" rel="noopener">CS 61A</a>, a <a href="https://csmentors.berkeley.edu" target="_blank" class="link" rel="noopener">CSM</a> senior mentor,
            head facilitator for the <a href="https://decal.ocf.io" target="_blank" class="link" rel="noopener">Linux SysAdmin
            Decal</a>, and an Instructional Assistant for <a href="https://atdp.berkeley.edu" target="_blank" class="link" rel="noopener">ATDP's</a> data structures course. 
            <br /> <br />
            Here are some links to my teaching resources!
            <br /> <br />
            {% for lnk in teaching-links %}
                <a href="{{lnk.url}}" target="_blank" rel="noopener" class="link teaching-link">• {{lnk.name}} <i class="fas fa-chevron-right"></i></a>
                <br />
            {% endfor %}
        </div>
    </div>
</div>
<!-- END TEACHING -->