 <!-- START TEACHING -->
<div id="teaching" class="container content-section">
    <div class="section-head center-head">Teaching</div>
    <div class="content-box" id="teaching-content">
        <div class="content content-text">
            I am currently a TA for <a href="https://cs61a.org" target="_blank" class="link">CS 61A</a> at Berkeley. 
            Summer 2021 will be my 3rd time teaching the course; I'm excited to be back! (If you're a 61A student, hello!! I hope to see you around in lab/discussion/office hours :)
            <br /> <br />
            Aside from 61A, I am also an Instructional Assistant for <a href="https://atdp.berkeley.edu" target="_blank" class="link">ATDP's</a> data structures course this summer. 
            In the past (and hopefully in the future as well), I have been involved as a <a href="https://csmentors.berkeley.edu" target="_blank" class="link">CSM</a> mentor for CS 61B and
            head facilitator for the <a href="https://decal.ocf.io" target="_blank" class="link">Linux SysAdmin Decal</a>.  
            <br /> <br />
            Here are some links for my teaching resources!
            <br /> <br />
            {% for lnk in teaching-links %}
                <a href="{{lnk.url}}" target="_blank" class="link teaching-link">• {{lnk.name}} <i class="fas fa-chevron-right"></i></a>
                <br />
            {% endfor %}
        </div>
    </div>
</div>
<!-- END TEACHING -->