// https://catppuccin.com/
$background: #f7f6f2; // pantone 11-4101 TPG (stalactite)
$background-alt: #e6e9ef;
$background-light: #e6e9ef;
$rosewater: #dc8a78;
$yellow: #df8e1d;
$orange: #fe640b;
$blue: #1e66f5;
$green: #40a02b;
$red: #d20f39;
$maroon: #e64553;
$purple: #8839ef;
$lavender: #7287fd;
$teal: #179299;
$pink: #ea76cb;
$text: #4c4f69;
$text-light: #6c6f89;
$text-highlight: #eff1f5;
$gray: #ccd0da;
$blue-filter: invert(49%) sepia(38%) saturate(4860%) hue-rotate(208deg) brightness(105%) contrast(101%);
