$background: #faf4ed;
$background-alt: #2A2C31;
$background-light: #EEEEEE;
$selection: #FFC85C;
$link: #8DB4FF;
$highlight: #5588FF;
$green: #1AEC22;
$red: #F41919;
$purple: #8839ef;
$text: #4c4f69;
$blue-filter: invert(49%) sepia(38%) saturate(4860%) hue-rotate(208deg) brightness(105%) contrast(101%);