// https://catppuccin.com/
$background: #f7f6f2; // pantone 11-4101 TPG (stalactite)
$background-light: #f4eee8; // Pantone 11-0002 TCX (Snowfall)
$text: #29282d; // pantone 19-4007 TCX (anthracite)
$text-light: #505457; // Pantone 20-0012 TPM (metallic fir)
$extra-light-green: #cdd4cb; // Pantone 12-5703 TPG (frosted mint)
$light-green: #7e9b76; // Pantone 17-0215 TCX (Aspen Green)
$dark-green: #297638; // Pantone 2465 C (Palm Tree Island)
