@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-UltralightItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Light.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Medium.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Bold.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Ultrabold.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-UltraboldItalic.otf') format('opentype');
}

@font-face {
  font-family: Fraktion;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Fraktion Sans/PPFraktionSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Light.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Black.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Novela/novela-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Novela/novela-regularitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Novela/novela-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Novela/novela-semibolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Novela/novela-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Novela/novela-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Novela/novela-black-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Novela/novela-blackitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Novela/novela-displayitalic-webfont.woff2') format('woff2');
}

$header: Pangaia, sans-serif;
$body: Eiko, serif;
$ui: Fraktion, Rubik, sans-serif;
$special: Pangaia, Novela, sans-serif;
$code: FiraCode, monospace;

// calculated with https://fluidtypography.com/, 414-1280px viewport width
$s-2: clamp(0.438rem, 0.577vw + 0.288rem, 0.75rem); // 7-12px
$s-1: clamp(0.625rem, 0.577vw + 0.476rem, 0.938rem); // 10-15px
$s0: clamp(0.813rem, 0.577vw + 0.663rem, 1.125rem); // 13-18px
$s1: clamp(1rem, 0.577vw + 0.851rem, 1.313rem); // 16-21px
$s2: clamp(1.188rem, 0.577vw + 1.038rem, 1.5rem); // 19-24px
$s3: clamp(1.375rem, 0.577vw + 1.226rem, 1.688rem); // 22-27px
$s4: clamp(1.563rem, 0.577vw + 1.414rem, 1.875rem); // 25-30px
$s5: clamp(1.938rem, 0.577vw + 1.789rem, 2.25rem); // 31-36px
$s6: clamp(2.125rem, 0.577vw + 2.063rem, 2.5rem); // 37-42px
$s7: clamp(2.313rem, 0.577vw + 2.338rem, 2.75rem); // 48-56px
$s8: clamp(2rem, 1.848vw + 2.522rem, 4rem); // 32-64px
