/* ===================================
Fonts for bencuan.me - v3_2020
Created by Ben Cuan

Fonts used:
 - Europa
 - Neue Haas Unica WG
 - Forma DJR Micro
 - Roboto
====================================== */

$europa: europa, roboto, Georgia, sans-serif;
$neue-haas: neue-haas-unica, Helvetica, sans-serif;
$monospace: roboto-mono, monospace;
$forma: forma-djr-micro, Helvetica, sans-serif;
