@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-UltralightItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Light.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Medium.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Bold.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Ultrabold.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-UltraboldItalic.otf') format('opentype');
}

@font-face {
  font-family: Fraktion;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Fraktion Sans/PPFraktionSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Thin.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Light.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Black.woff2') format('woff2');
}

@font-face {
  font-family: Eiko;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Novela/novela-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Novela/novela-regularitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Novela/novela-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Novela/novela-semibolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Novela/novela-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Novela/novela-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Novela/novela-black-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Novela/novela-blackitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Novela/novela-displayitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: FraktionMono;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Fraktion Mono/PPFraktionMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: FraktionMono;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Fraktion Mono/PPFraktionMono-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: FraktionMono;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Fraktion Mono/PPFraktionMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: FraktionMono;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Fraktion Mono/PPFraktionMono-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: FraktionMono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Fraktion Mono/PPFraktionMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: FraktionMono;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Fraktion Mono/PPFraktionMono-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/fonts/FiraCode/FiraCode-VF.ttf') format('truetype');
}

$header: Pangaia, serif;
$body: Eiko, serif;
$ui: Fraktion, sans-serif;
$special: Pangaia, sans-serif;
$code: FiraCode, monospace;
$manrope: Manrope, sans-serif;
$fraktion-mono: FraktionMono, monospace;

// calculated with https://fluidtypography.com/, 414-1280px viewport width
$s-2: clamp(0.438rem, 0.577vw + 0.288rem, 0.75rem); // 7-12px
$s-1: clamp(0.625rem, 0.577vw + 0.476rem, 0.938rem); // 10-15px
$s0: clamp(0.813rem, 0.577vw + 0.663rem, 1.125rem); // 13-18px
$s1: clamp(1rem, 0.577vw + 0.851rem, 1.313rem); // 16-21px
$s2: clamp(1.544rem, 0.82vw + 1.33rem, 2.25rem); // 24.7-36px (+30% mobile, +50% desktop)
$s3: clamp(1.788rem, 0.86vw + 1.57rem, 2.531rem); // 28.6-40.5px (+30% mobile, +50% desktop)
$s4: clamp(2.031rem, 0.9vw + 1.8rem, 2.813rem); // 32.5-45px (+30% mobile, +50% desktop)
$s5: clamp(2.519rem, 1vw + 2.26rem, 3.375rem); // 40.3-54px (+30% mobile, +50% desktop)
$s6: clamp(3.006rem, 1.08vw + 2.73rem, 3.938rem); // 48.1-63px (+30% mobile, +50% desktop)
$s7: clamp(3.9rem, 1.56vw + 3.5rem, 5.25rem); // 62.4-84px (+30% mobile, +50% desktop)
$s8: clamp(2.6rem, 3.93vw + 1.6rem, 6rem); // 41.6-96px (+30% mobile, +50% desktop)
