@use '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-UltralightItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Medium.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-Bold.otf') format('opentype');
}

@font-face {
  font-family: Pangaia;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Pangaia/PPPangaia-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: Fraktion;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Fraktion Sans/PPFraktionSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Novela/novela-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Novela/novela-regularitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Novela/novela-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Novela/novela-semibolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Novela/novela-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Novela/novela-bolditalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Novela/novela-black-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Novela/novela-blackitalic-webfont.woff2') format('woff2');
}

@font-face {
  font-family: Novela;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Novela/novela-displayitalic-webfont.woff2') format('woff2');
}

$header: Novela, Lora, sans-serif;
$body: Garamond, Lora, serif;
$ui: Fraktion, Rubik, sans-serif;
$special: Pangaia, Novela, sans-serif;
$code: FiraCode, monospace;
$sans: NeueMontreal, sans-serif;

$s-2: clamp(0.774rem, 0.81rem + -0.048vi, 0.8rem);
$s-1: clamp(1rem, 0.989rem + 0.057vi, 1.032rem);
$s0: clamp(1.25rem, 1.205rem + 0.227vi, 1.375rem);
$s1: clamp(1.563rem, 1.464rem + 0.492vi, 1.833rem);
$s2: clamp(1.953rem, 1.775rem + 0.891vi, 2.443rem);
$s3: clamp(2.441rem, 2.145rem + 1.483vi, 3.257rem);
$s4: clamp(3.052rem, 2.583rem + 2.345vi, 4.341rem);
$s5: clamp(3.815rem, 3.097rem + 3.586vi, 5.787rem);
$s6: clamp(4.768rem, 3.697rem + 5.356vi, 7.714rem);
