@use 'fonts';
@use 'colors';
@use 'mixins';
@use 'spacing';

.blog-title {
  font-family: fonts.$header;
  font-weight: 500;
  font-size: fonts.$s4;
  margin-top: spacing.$s2xl;
}

.blog-date {
  margin-bottom: 0;
}

.blog-content {
  h1 {
    margin-top: spacing.$sxl;
    margin-bottom: spacing.$sm;
  }

  h2 {
    margin-top: spacing.$sxl;
    margin-bottom: spacing.$sm;
    padding: 0;
    font-weight: 450;
  }

  h3 {
    margin-top: spacing.$sxl;
    margin-bottom: spacing.$ss;
  }

  hr {
    margin: 3rem;
    border: 1px solid colors.$lavender;
  }
}

.footnote-icon,
.footnote {
  color: colors.$lavender;
  text-decoration: none !important;
  transition: all 0.2s;

  &:hover {
    color: black;
    transform: scale(1.1);
    font-weight: bold;
  }
}

.footnote {
  font-size: fonts.$s-1;
  vertical-align: super;
  font-family: fonts.$ui;
}

.footnote-icon {
  font-size: fonts.$s-1;
  margin-left: 8px;
}

.highlight-ref-selected {
  display: relative;
  animation: highlight-ref 1.5s ease-in-out 0.15s;
  transition: all 0.5s;
}

@keyframes highlight-ref {
  0% {
    background-color: transparent;
    font-weight: normal;
  }

  15% {
    background-color: colors.$pink;
    color: white;
  }

  50% {
    background-color: colors.$pink;
    color: white;
  }

  100% {
    background-color: transparent;
    font-weight: normal;
  }
}

.blog-ssf-entry {
  margin: 0.5rem 0;
  color: colors.$text;
  font-size: fonts.$s0;
}

.blog-ssf-date {
  font-size: fonts.$s-1;
}

.hoverweight {
  font-size: fonts.$s1;
  font-family: fonts.$ui;
  color: colors.$blue;

  &:hover {
    animation: hover 1s linear infinite alternate;
  }

  @keyframes hover {
    from {
      font-weight: 100;
    }

    to {
      font-weight: 800;
    }
  }
}

.pinetree {
  font-family: fonts.$special;
}

.novela {
  font-family: Novela;
}

.garamond {
  font-family: Garamond;
}

.fraktion {
  font-family: Fraktion;
}

.montreal {
  font-family: NeueMontreal;
}

.footnote-ref-number {
  margin-bottom: 1rem;

  p {
    margin: 0;
  }
}

.footnote-ref-wrapper {
  font-family: fonts.$body;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.visitors {
  font-size: fonts.$s-1;
  color: colors.$text;
  font-family: fonts.$ui;
  margin-left: 2rem;
}

.blog-caption {
  font-size: fonts.$s-1;
  font-family: fonts.$header;
  text-align: center;
  color: colors.$text-light;
}

img {
  max-width: 100%;
  display: block;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}
