@use 'fonts';
@use 'colors';

// style extensions to bluesky comments
._container_1pvtk_1 {
  margin: 5rem 0 0 0;
}

._avatar_1pvtk_96 {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

._authorName_1pvtk_104 {
  font-size: fonts.$s-1;
  margin: auto 0;
}

._actionsRow_1pvtk_142,
.text-xs {
  font-size: fonts.$s-2;
}
._actionsRow_1pvtk_142 {
  align-items: flex-start;
  justify-content: flex-start;
}

._commentContent_1pvtk_77 {
  a[href*='/post/'] {
    p:not(._authorName_1pvtk_104):not(._handle_1pvtk_122) {
      margin: 0;
    }
  }
}

._commentsTitle_1pvtk_40 {
  font-size: fonts.$s1;
  margin: 0;
}
