/* ===================================
Main stylesheet for bencuan.me - v4_2021
Created by Ben Cuan
====================================== */

/* ----------
Imports
------------- */
@use '_mixins';
@use '_colors';
@use '_fonts';
@use '_animations';
@use '_burgers';

/* ----------
Variables
------------- */
$nav-height: 5rem;
$anim-speed: 0.5s;

/* ----------
Global
------------- */

html {
  transition-duration: $anim-speed;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
}

@include mixins.screen("desktop") {
  .container:not(#contact) {
    max-width: 80%;
  }
}

@include mixins.screen("mobile") {
  .no-mobile,
  .no-mobile * {
    display: none;
  }

  * {
    max-width: 100vw;
  }

  .mobile-center {
    text-align: center;
  }

  html,
  body {
    overflow-x: hidden;
  }
}
@include mixins.screen("not-mobile") {
  .mobile-only,
  .mobile-only * {
    display: none;
  }
}

.link {
  font-family: fonts.$body;
  text-decoration: none;
  color: colors.$highlight !important;
  font-weight: 500;
  position: relative;

  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  // Link animation inspired by https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: colors.$highlight;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}

::selection {
  background-color: transparent;
  font-weight: 1000;
  color: colors.$selection;
}

/* ----------
Landing
------------- */

#landing {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 140%;
  min-height: 1100px;
}

@include mixins.screen("desktop") {
  #landing {
    min-height: 930px;
    height: 100%;
  }
}

.splash-gradient {
  z-index: -1;
  height: 100%;
  width: 100%;

  &:after,
  &:before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 400%;
    height: 400%;
    z-index: -1;
    overflow-x: hidden;
  }

  &:after {
    // @include mixins.stepped-radial-gradient(colors.$gradient3, colors.$gradient1);
    background-size: 300%;
    background: radial-gradient(circle, colors.$purple-primary, colors.$purple-secondary);
    animation: landingAnim 15s linear infinite;
  }

  &:before {
    background-color: colors.$gradient3;
  }

  @include mixins.keyframes(landingAnim) {
    25% {
      transform: translateY(-75%);
      filter: hue-rotate(-30deg);
    }

    50% {
      transform: translate(-75%, -75%);
    }

    75% {
      transform: translate(-75%, 0);
      filter: hue-rotate(30deg);
    }

    0%,
    100% {
      transform: translate(0, 0);
      filter: hue-rotate(0deg);
    }
  }
}

.splash-box {
  @include mixins.center;
  width: 80%;
  height: 65%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 2% 2% 5% 5%;
  margin-top: 2%;
  transition: all $anim-speed;

  &:hover {
    transform: scale(1.005) translate(-49.8%, -51%) !important;
    box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.6);
  }
}

@include mixins.screen("not-desktop") {
  .splash-box {
    height: 80%;
    width: 85%;
  }
}

// Landing text styles
.splash-hi {
  margin-top: 5%;
  color: white;
  font-family: fonts.$neue-haas;
  font-weight: 500;
  @include mixins.responsive-text(50, 75, 100);
}

.splash-name {
  color: white;
  font-family: fonts.$neue-haas;
  font-weight: 700;
  @include mixins.responsive-text(100, 150, 225);
  line-height: 0.9;

  background-image: linear-gradient(
    90deg,
    colors.$purple-primary,
    colors.$purple-secondary
  );
  background-clip: text;
  color: transparent;
  background-size: 300%;

  animation: text-animation 10s infinite;
}

.splash-desc {
  color: white;
  font-family: fonts.$neue-haas;
  font-weight: 500;
  padding-top: 2%;
  line-height: 1;
  @include mixins.responsive-text(20, 35, 50);
}

.splash-button-container {
  height: 15%;
  margin-top: 5%;
  width: 70%;
  margin-left: 15%;
  z-index: 15;
}

.mobile-splash-buttons {
  padding-top: 2rem;
}

@include mixins.screen("desktop") {
  .mobile-splash-buttons {
    display: none;
  }
}

@include mixins.screen("tablet") {
  .splash-button-container {
    display: none;
  }
}

.splash-button-col {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

// Landing buttons
.landing-btn {
  transition: all $anim-speed;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  text-align: center;
  z-index: -1;

  &:hover {
    cursor: pointer;

    .fab,
    .fas {
      @include mixins.responsive-text(30, 50, 60);
      transition: transform $anim-speed;
      transform: translateY(-15%);
    }
  }

  .fab,
  .fas {
    color: white;
    transition: transform $anim-speed;
    @include mixins.responsive-text(20, 35, 40);

    @include mixins.screen("desktop") {
      padding-top: 23%;
    }
  }
}

.mobile-landing-btn {
  font-family: fonts.$forma;
  width: 80%;
  color: white;
  border-radius: 50px;
  font-size: 45px;
  margin: 1rem auto;
  padding-top: 0.5rem;
  @include mixins.responsive-text(30, 45, 60);
  i {
    padding: 1rem !important;
    color: white;
  }
}

@include mixins.screen("tablet") {
  .mobile-landing-btn {
    width: 60%;
  }
}

// Info panels
.splash-info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  z-index: 10;
  transition: clip-path 0.8s ease;
}

.splash-info-padding {
  padding: 2% 5%;
}

.splash-info-big {
  color: white;
  font-family: fonts.$neue-haas;
  font-weight: 700;
  @include mixins.responsive-text(100, 150, 225);
  line-height: 0.9;
}

// Make email text a bit smaller
.splash-email {
  margin-top: 7%;
  @include mixins.responsive-text(50, 75, 125);
}

/* ----------
Navbar
------------- */
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $nav-height;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  z-index: 1000;

  .nav-background {
    height: 100%;
    width: 100%;
    // background-color: colors.$logo;
  }

  #nav-back {
    transition: all $anim-speed / 2;
  }

  .nav-fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10px;
    top: 0;
    // border-radius: 10px;
    z-index: 10;
    transition: clip-path 0.8s ease;
    clip-path: circle(0% at 100px 100px);
  }

  #nav-fill-resume {
    left: 0;
    right: -10px;
  }

  .row {
    height: 100%;
    left: 1rem;
    right: 1rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 100;
  }
}

@include mixins.screen("mobile") {
  nav {
    height: $nav-height * 0.75;
    overflow: visible;
    img {
      max-height: 100%;
      max-width: $nav-height * 0.75;
      left: 0;
      position: absolute;
    }

    .col-1,
    .col-2,
    .col-3 {
      max-height: 100%;
      width: 100vw;
      margin: 0 !important;
      left: 0;
      padding-top: $nav-height * 0.2;
    }

    .row {
      left: 0;
    }

    .burger {
      position: absolute;
      right: 1rem;
      height: 100%;
    }

    #burger-menu {
      position: fixed;
      height: 100vh;
      width: 100vw;
      left: 100%;
      transition: all $anim-speed;
      text-align: center;
      color: white;
    }

    .burger-link {
      display: block;
      margin-top: 3rem;
    }
    .burger-link,
    .burger-link i {
      color: white;
      font-size: 45px;
      text-decoration: none;
    }

    #burger-menu.open {
      left: 0;
    }
  }
}
@include mixins.screen("not-mobile") {
  nav {
    .col-2,
    .col-3,
    .col-1 {
      margin: 0 !important;
      height: 100%;
      display: table;
      transition: transform 0.25s;

      &:hover {
        cursor: pointer;
        transform: scale(110%);
      }
    }

    .col-3 {
      position: absolute;
      right: 3rem !important;
      text-align: right;
    }

    a,
    i {
      font-family: fonts.$body;
      color: white;
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;
      @include mixins.responsive-text(0, 25, 30);
    }

    i {
      padding-bottom: 1%;
    }

    img {
      // height: 70%;
      max-width: 70%;
    }

    .col-1 {
      transition: transform $anim-speed;

      &:hover {
        transform: scale(110%);
      }
    }

    .resume-button {
      display: flex;
      right: 0;
      justify-content: center;
      align-items: center;
      padding: 0.25rem 1.25rem;
      border-radius: 5px;
      margin-top: ($nav-height) * 1 / 8;
      height: ($nav-height) * 3 / 4 - 0.5rem;
      width: 50%;
      margin-left: 35%;
      text-align: center;
      align-self: self-end;

      i {
        transform: translateY(2px);
        margin-right: 0.5rem;
      }
    }
  }
}

/* ----------
Content
------------- */
#content {
  border-top: 5px solid colors.$highlight;
  background-color: colors.$bg;
}

.content-section {
  padding-top: $nav-height;
}

.section-head {
  color: white;
  font-family: fonts.$forma;
  font-weight: 700;
  @include mixins.responsive-text(75, 100, 125);
  text-decoration: underline;
  line-height: 1.1;
  padding-bottom: 1rem;
}

.center-head {
  margin-top: 8rem;
  text-align: center;
}

@include mixins.screen("not-mobile") {
  .left-head {
    text-align: left;
    transform: translateX(-5%);
  }
  .right-head {
    text-align: right;
    transform: translateX(5%);
  }
}

@include mixins.screen("not-mobile") {
  .content-box {
    transform: translateX(-5%);

    &:hover {
      box-shadow: 6px 6px 5px 0px rgb(0, 0, 0);
      transform: translate(-5%, -2%);
    }
  }
}

@include mixins.screen("mobile") {
  .content-box {
    transform: translateX(0px);
  }
}

.content-box {
  $border-width: 5px;
  border-radius: $border-width;
  width: 100%;
  font-family: fonts.$body;
  color: white;
  background: #222;
  transition: box-shadow $anim-speed, transform $anim-speed;

  // Gradient border animation inspired by https: //codepen.io/alphardex/pen/vYEYGzp
  @include mixins.gradient-border($border-width);

  .content {
    // position: absolute;
    left: $border-width;
    top: $border-width;
    right: $border-width;
    bottom: $border-width;
    border-radius: $border-width;
    background-color: colors.$bg-light;
    padding: 3%;
  }

  .content,
  .content * {
    color: white;
  }
}

.content-text {
  @include mixins.responsive-text(20, 25, 30);
}

/* ----------
About
------------- */

.about-img {
  border-radius: 10px;
  border-width: 3px;
  background-color: colors.$logo;
  transition: all 0.5s;
}

@include mixins.screen("desktop") {
  .about-img {
    position: absolute;
    right: -5%;
    bottom: -5%;
    height: 20rem;
    width: 20rem;
    filter: brightness(0.8);
  }

  #about-content:hover .about-img {
    transform: scale(1.01);
    filter: brightness(1);
    box-shadow: 6px 6px 5px 0px rgb(0, 0, 0);
  }
}

@include mixins.screen("not-desktop") {
  .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tools-text {
    margin-top: 0 !important;
  }

  .tool-icons {
    margin-bottom: 0 !important;
  }
}

@include mixins.screen("tablet") {
  .tool-icons {
    margin-bottom: 1rem;
    line-height: 1;
  }

  .tools-text {
    padding-bottom: 2rem;
  }
}

.tools-text {
  @include mixins.responsive-text(15, 20, 25);
  color: rgba(220, 220, 220, 1) !important;
}

@include mixins.screen("mobile") {
  .tools-text {
    text-align: center;
  }
}

.tool-icons {
  transform: scale(1.5);
  text-align: center;
}

.tools-table {
  padding-top: 3%;
}

/* ----------
Teaching
------------- */
.teaching-link {
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-left: 2rem;
  font-size: 1.5rem;
  

  &, & i {
    color: colors.$green-link !important;
  }

  i {
    transition: all 0.35s ease-in-out;
    margin-left: 0rem;
  }

  &::before {
    height: 3px;
    bottom: 1px;
    background-color: colors.$green-link-sel; 
  }
}

@include mixins.screen("desktop") {
  .teaching-link {
    font-size: 2.5rem;
    &:hover {
      i {
        margin-left: 1rem;
        color: colors.$green-link-sel !important;
      }
  
      color: colors.$green-link-sel !important;
    }
  }
}

/* ---------------
Featured Projects
------------------ */

.feature-content {
  padding: 1% !important;
}

.feature-label {
  border-radius: 20px;
  height: 80%;
  width: 80%;
  padding: 1rem;
  padding-left: 3rem;
  font-weight: 700;
  @include mixins.responsive-text(30, 45, 60);
  position: relative;
  font-family: fonts.$body;
}

.feature-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature-text {
  @include mixins.responsive-text(15, 20, 25);
}

@include mixins.screen("mobile") {
  .feature-label {
    padding: 1rem !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.feature-tag {
  position: absolute;
  border-radius: 10px;
  @include mixins.responsive-text(10, 20, 30);
  right: -20px;
  top: -10px;
  border-radius: 30px;
  padding: 0.3rem 2rem;
}

.feature-link {
  font-size: 45px;
}

@include mixins.screen("not-mobile") {
  .feature-link {
    margin-left: 2vw;
    border-radius: 50%;
    display: inline-block;
    height: 4vw;
    width: 4vw;
    text-align: center;
    transition: all 0.5s;

    i {
      transition: all 0.5s;
      vertical-align: middle;
      transform: translate(-5px);
      border-radius: 20%;
    }

    &:hover i {
      color: colors.$highlight;
      transform: scale(1.25) translateY(-10px) !important;
      cursor: pointer;
    }
  }
  .feature-link-container {
    text-align: right;
  }

  .content-box:hover .feature-img {
    transform: scale(1.01);
    filter: brightness(1);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .content-box:hover .feature-link i {
    transform: scale(1.1) translateY(-5px);
  }
}

.feature-img {
  position: relative;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  filter: brightness(0.8);
  right: 0;
  bottom: 0;
}

.feature-img-container {
  margin: 1rem 0 !important;
  width: 50%;
}

@include mixins.screen("mobile") {
  .feature-img-container {
    width: 100%;
  }

  .feature-link-container {
    text-align: center;
    padding: 1rem;
    font-size: 50px;
    margin: 0 !important;
  }
}




/* ---------------
More Projects
------------------ */

.proj-buttons {
  width: 100%;
}

.btn-proj {
  // background: #222;
  display: inline-block;
  position: relative;
  color: white;
  @include mixins.gradient-button(5px, 30rem);
  @include mixins.responsive-text(20, 30, 50);
  // padding: 0 3vw;
  margin: 0.5rem 1rem;
  // border: transparent 3px;
  // border-radius: 30rem;
  font-weight: 700;
  // border: 10px solid white;
  transition: all $anim-speed;

  &:hover {
    // border: 10px solid transparent;
    
    box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
  }
}

@include mixins.screen("not-mobile") {
  .btn-proj:hover {
      transform: scale(1.1) translateY(-10px);
  }
}

.btn-proj-selected {
  .content {
    background: transparent;
  }
}

#proj-cards {
  padding-top: 10vh;

  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;


  @include mixins.screen("not-mobile") {
    .row, .content-box {
      display: flex;
    }
    .content {
      flex: 1;
    }
    grid-template-columns: 1fr 1fr;
  }

  .row {
    margin-bottom: 2rem;
  }
}

// attach to content-box
.proj-card {
  transform: translateX(0px);
  height: 100%;

  &:hover {
    transform: translateY(-8px) scale(1.01);
  }

  .content {
    background: colors.$bg;
    transition: all $anim-speed;
    
    &:hover {
      background: colors.$bg-light;
    }
  }
}

.proj-name,
.proj-desc,
.proj-icons {
  text-align: center;
  font-family: fonts.$body;
  line-height: 1.2;
}

.proj-name {
  @include mixins.responsive-text(50, 70, 100);

  img {
    width: 90%;
  }
}

.proj-desc {
  @include mixins.responsive-text(10, 20, 30);
  line-height: 1;
  padding-top: 1rem;
}

.proj-icons {
  padding-top: 1.5rem;
  @include mixins.responsive-text(10, 15, 20);
}

.proj-icon {
  display: inline-block;
  padding: 0 1rem;
}

.proj-link {
  margin-left: 1vw;
  margin-right: 1vw;
  transform: translateY(-10px);
}

.content-box:hover .proj-link {
  transform: scale(1.05);
}

.proj-icon i {
  @include mixins.responsive-text(20, 30, 40);
}

#more-proj-btn {
  margin-top: 5vh;
}

.hide-when-truncated {
  display: none;
}

/* ---------------
Contact Me
------------------ */
.contact-text {
  color: white;
  @include mixins.responsive-text(15, 20, 30);
  font-family: fonts.$body;
  font-weight: 300;
  line-height: 1.3;
}

.btn-contact {
  margin: 5vh;
}

#contact {
  padding-bottom: 10rem;
  border: 0 !important;

  .section-head {
    padding-top: 10rem;
    margin-top: 0 !important;
  }
}

/* ---------------
Footer
------------------ */
#footer {
  background-color: colors.$footer;
  width: 100vw;
  padding: 1.5rem 0rem;

  .link {
    color: white !important;

    &::before {
      height: 1px;
      background-color: white;
    }
  }
}

.footer-icon {
  color: white;
}

.footer-text {
  padding: 0.4rem;
  color: white;
  @include mixins.responsive-text(10, 15, 20);
  font-family: fonts.$body;
  font-weight: 300;
  font-style: normal;
}


// Resume
#iframepdf {
  height: 100%;
  width: 100%;
  position: fixed;
}