@use 'fonts';
@use 'colors';
@use 'mixins';
@use 'spacing';

footer {
  bottom: 0;
  color: colors.$text-light;
  font-family: fonts.$ui;
  font-weight: 200;
  margin-top: spacing.$sl;
  margin-bottom: spacing.$sl;
  font-size: fonts.$s0;
}

.close-archives {
  cursor: pointer;
  user-select: none;

  &:hover {
    color: colors.$light-green;
  }
}

.show-archive {
  user-select: none;
}

.simple-icon {
  font-size: 1.25rem;
  transform: translateY(3px) scale(0.8);
}

.footer-current {
  font-weight: 500 !important;
  color: colors.$dark-green !important;
}
