@use 'fonts';
@use 'colors';
@use 'mixins';

header {
  font-family: fonts.$special;
  font-weight: 200;
  height: 4rem;
  background-color: colors.$background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@include mixins.screen('mobile') {
  header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.nav-link {
  font-size: fonts.$s3;

  .link {
    font-weight: 300;
    color: colors.$text;

    &:hover {
      color: colors.$dark-green;
    }
  }

  .nav-current {
    font-weight: 500 !important;
    color: colors.$dark-green;
  }
}

.nav-container {
  // left: 0;
  // right: 0;
  max-width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 999;
  margin-top: 1.5rem;
}
