@use 'fonts';
@use 'colors';


header {
    font-family: fonts.$header; 
    font-weight: 400;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.status-circle {
    margin: auto 0;
    margin-left: 1rem;
}

.status-green {
    color: colors.$green;
}

.nav-links {
    margin-left: 1rem;
}
.nav-current {
    font-weight: 1000;
    text-decoration: underline;
}
.nav-link {
    font-size: 1.5rem;
    color: white;
}