@use 'fonts';
@use 'colors';
@use 'mixins';

header {
  font-family: fonts.$special;
  font-weight: 200;
  height: 4rem;
  background-color: colors.$background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.nav-current {
  font-weight: 500 !important;
  &:hover {
    color: colors.$text !important;
  }
}

.nav-link {
  font-size: fonts.$s1;
  color: colors.$text;
  font-weight: 300;
  &:hover {
    color: colors.$dark-green;
  }
}

.nav-container {
  // left: 0;
  // right: 0;
  max-width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 999;
  margin-top: 1.5rem;
}
