@use 'fonts';
@use 'colors';
@use 'mixins';

header {
  font-family: fonts.$ui;
  font-weight: 400;
  padding: 1rem;
  height: 4rem;
  background-color: colors.$background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.nav-links {
  margin-left: 1rem;
}

.nav-current {
  color: colors.$lavender !important;
  text-decoration: underline !important;

  &:hover {
    color: colors.$blue !important;
  }
}

.nav-link {
  font-size: fonts.$s1;
  color: colors.$text;
}

.nav-container {
  left: 0;
  right: 0;
  max-width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  margin: 1.25rem;
}
