@use 'fonts';
@use 'colors';
@use 'mixins';

$hamburger-layer-color : colors.$text;
$hamburger-layer-width : 30px;
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

header {
    font-family: fonts.$special;
    font-weight: 400;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;

    @include mixins.screen("not-desktop") {
        position: fixed;
        background-color: colors.$background-alt;
        width: 100vw;
        padding: 0;
    }
}

@include mixins.screen("not-mobile") {
    .nav-links {
        margin-left: 1rem;
    }

    .nav-more-menu {
        position: absolute;
        right: 0;
        transform: translateX(100%);
        top: 2rem;
        list-style-type: none;
        text-align: left;
        background-color: colors.$background-light;
        padding: 0;
        line-height: 1.7rem;
        display: flex;
        flex-direction: column;
        animation: slide-right 0.5s forwards ease-out;
        transition: all 0.1s;
    }
}

.nav-current {
    font-weight: 1000;
    text-decoration: underline;
}

.nav-link {
    font-size: 1.5rem;
    color: colors.$text;

    @include mixins.screen("mobile") {
        font-size: 3rem;
        text-align: center;
        max-width: 100vw;
    }
}

.nav-container-mobile {
    display: none;

    @include mixins.screen("mobile") {
        display: flex;
        left: 0;
        left: 0;
        top: 0;
        max-width: 100vw;
        z-index: 1001;
    }

}

@include mixins.screen("mobile") {
    .nav-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;
    }

    .nav-more-menu,
    .nav-more {
        display: none;
    }
}

.nav-container {
    justify-content: space-between;
    margin: 1.25rem;

    @include mixins.screen("mobile") {
        margin: 0;
        display: flex;
        bottom: 0;
        flex-direction: column;
        display: block;
        position: fixed;
        transform: translateX(-100vw);
        transition: all 0.15s;
        background-color: colors.$background-alt;

        &.mobile-visible {
            transition: all 0.15s;
            transform: translateX(0);
        }
    }

    left: 0;
    right: 0;
    max-width: 100vw;
    position: absolute;

    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}

// more links
.more-link-container {
    width: 100%;
    margin: 0;
    flex-grow: 1;
    padding: 2px 10px 2px 10px;
    transition: all 0.1s ease-in-out;

    @include mixins.screen("not-mobile") {
        a {
            text-decoration: none !important;
        }

        &:hover {
            background: colors.$blue;
            font-weight: 800;
        }

        &:hover a,
        &:hover {
            color: white !important;
        }

        &:hover .more-link-icon {
            filter: brightness(0) invert(100%);
            width: inherit;
        }
    }
}

.more-link {
    padding-right: 1.5em;
}

.more-link-icon {
    @include mixins.screen("not-mobile") {
        filter: colors.$blue-filter;
    }

    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.15em;
    transition: all 0.1s;
    right: 0.25em;
    position: absolute;
}

// slide in/out and highlight animations on expansion/collapse
.nav-invisible {
    animation: slide-left 0.5s forwards ease-out;
}

.nav-more-more {
    animation: forwards 0.7s ease-in-out 0s 1 highlight2;
}

.nav-more-less {
    animation: forwards 0.7s ease-in-out 0s 1 highlight3;
}


@keyframes slide-right {
    to {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes highlight2 {
    0% {
        background-color: colors.$blue;
        color: white;
    }

    100% {
        background-color: colors.$background;
        color: colors.$text;
    }
}

@keyframes highlight3 {
    0% {
        background-color: colors.$teal;
        color: white;
    }

    100% {
        background-color: colors.$background;
        color: colors.$text;
    }
}