@use 'fonts';
@use 'colors';
@use 'mixins';

$padding: 15vw;

.home-links {
    margin-top: 3rem;
}

.splash {
    margin-bottom: 1rem;
}

.name {
    margin-top: 3rem;
    font-size: fonts.$s5;
    font-family: fonts.$special;

    color: colors.$text;
    font-weight: normal;
}

.home-buttons {
    margin-bottom: 2rem;
}