@use 'fonts';
@use 'colors';
@use 'mixins';

.name-container {
  display: flex;
  flex-direction: row;
  align-items: end;

  img {
    height: 64px;
  }

  h1 {
    font-weight: 200;
    font-size: fonts.$s2;
    color: colors.$text;
    font-family: fonts.$header;
    margin-left: 0.5rem;
    letter-spacing: 1px;
  }

  margin-bottom: 2rem;
}
