@use 'fonts';
@use 'colors';
@use 'mixins';

$padding: 10vw;

html {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
}

h1,
h2,
h3 {
    color: colors.$text;
    font-family: fonts.$header;
}

h1 {
    margin: 0;
}

h2 {
    padding-top: 7rem;
    font-weight: 400;
    font-size: 2.5rem;
}

body {
    margin: 0;
    background-color: colors.$background;
    overflow-x: hidden;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    @include mixins.screen("not-desktop") {
        z-index: 1;
    }
}

code {
    font-family: fonts.$code;
}


::selection {
    background-color: #babbf1;
}

footer {
    bottom: 0;
    padding: 3rem $padding;
    color: colors.$text;
    font-family: fonts.$ui;
    font-weight: 200;

    @include mixins.screen("not-desktop") {
        text-align: center;
    }
}

.showarchive {
    cursor: pointer;
}

.container {
    padding: 0 $padding;

    @include mixins.screen("mobile") {
        padding-top: 100px;
    }

}

.title {
    color: colors.$text;
    font-family: fonts.$special;
    font-weight: 700;
    font-size: 4rem;
}

.text {
    font-size: fonts.$s0;
    font-family: fonts.$body;
}

p {
    color: colors.$text;
    font-family: fonts.$body;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.ui-text,
.ui-text p {
    font-family: fonts.$ui;
}


// SCROLLBAR
html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html::-webkit-scrollbar-thumb {
    background: #a8b0df;
    border-radius: 3px;
}

html::-webkit-scrollbar-track {
    background-color: colors.$background-alt;
}