@use 'fonts';
@use 'colors';
@use 'mixins';

$padding: 7rem;

h1,
h2,
h3 {
    color: white;
}

h1 {
    font-family: fonts.$header;
    margin: 0;
}

h2 {
    font-family: fonts.$header;
    padding-top: 7rem;
    font-weight: 400;
    font-size: 2.5rem;
}

body {
    background-color: colors.$background;
}

.name {
    padding: calc($padding - 2rem) $padding 0 $padding;
    font-weight: 700;
    font-size: 4rem;
}

.name-icons {
    padding: 0.15rem $padding;
    box-sizing: border-box;
    color: white;
    font-size: 2rem;
    pointer-events: none;
    transition: all 0.25s ease-in-out;

    &:hover {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.name-icon {
    color: white !important;
    margin-right: 1rem;
    transition: all 0.25s;
    pointer-events: auto;

}

.name-icon:hover {
    font-size: 115%;
}

// LINKS
.link {
    font-family: fonts.$header;
    text-decoration: none;
    color: white !important;
    font-weight: normal;
    position: relative;

    &:hover {
        &::before {
            visibility: visible;
            transform: scaleX(1);
        }
    }

    // Link animation inspired by https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0;
        background-color: white;
        visibility: hidden;
        transform: scaleX(0);
        font-weight: bold;
        transition: all 0.05s ease-in-out 0s;
    }
}

::selection {
    background-color: transparent;
    font-weight: 1000;
    color: colors.$selection;
}

footer {
    position: fixed;
    bottom: 0;
    padding: $padding;
    padding-bottom: calc($padding - 2rem);
    color: white;
    font-family: fonts.$header;

}

.showarchive {
    cursor: pointer;
}

.home-links {
    margin-top: 3rem;
}

.home-link-icon {
    filter: colors.$blue-filter;
    opacity: 0;
    width: 0;
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    transition: all 0.1s;
}

.home-link {
    color: white;
    font-family: fonts.$header;
    font-size: 2.5rem;
    flex-grow: 1;
    text-decoration: none;
    transition: all 0.1s;
    padding-left: $padding;
    padding-right: $padding;

    &:hover {
        background: colors.$background-light;
        font-weight: 800;
    }

    &:hover a,
    &:hover {
        color: colors.$highlight !important;
    }

    &:hover .home-link-icon {
        color: white;
        opacity: 1;
        width: inherit;
    }

}


@include mixins.screen('desktop') {
    .container {
        padding-left: $padding;
        padding-right: $padding;
    }
}

.title {
    color: white;
    padding: calc($padding - 3rem) 0 0 0;
    font-weight: 700;
    font-size: 4rem;
}

.blue-link {
    color: colors.$link !important;

    &::before {
        background-color: colors.$link !important;
    }
}