@use 'fonts';
@use 'colors';
@use 'mixins';
@use 'spacing';

$padding: 10vw;

// Root variables
:root {
  --rt-transition-closing-delay: 0.15s;
  --rt-opacity: 1;
}

// Base elements
html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;

    &-thumb {
      background: colors.$light-green;
      border-radius: 3px;
    }

    &-track {
      background-color: colors.$background-light;
    }
  }
}

body {
  margin: 0;
  background-color: colors.$background;
  overflow-x: hidden;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$header;
  font-weight: 450;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
.footnote-ref {
  color: colors.$text;
}

h1 {
  margin: 0;
  font-size: fonts.$s3;
}

h2 {
  font-size: fonts.$s2;
}

h3,
h4 {
  font-size: fonts.$s1;
}

p {
  font-size: fonts.$s-1;
  margin: 0 0 2rem 0;
}

code {
  font-family: fonts.$code;
}

p,
ul,
ol,
.footnote-ref {
  font-size: fonts.$s0;
  font-family: fonts.$body;
}

// Layout components
.body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

  @include mixins.screen('not-desktop') {
    z-index: 1;
  }
}

.container {
  padding: 0 $padding;
  width: min(80vw, 1024px);
  margin: auto;

  @include mixins.screen('mobile') {
    width: min(90vw, 1024px);
    padding: 0 calc($padding / 2);
    padding-top: 0rem;
  }
}

// UI Elements
summary,
details {
  font-family: fonts.$ui;

  table {
    width: 100%;
  }

  tr,
  td {
    height: 20px;
    max-height: 20px;
    line-height: 20px;
  }
}

summary {
  cursor: pointer;
  font-weight: bold;
  font-size: fonts.$s0;
}

details {
  font-size: fonts.$s-1;
}

blockquote {
  position: relative;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  background-color: colors.$background-light;

  p {
    margin: 0;
  }

  &::before {
    content: '';
    background-color: colors.$light-green;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
  }
}

.astro-code {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.75);
}

// Utility classes
.title {
  color: colors.$text;
  font-family: fonts.$special;
  font-weight: 700;
  font-size: 4rem;
}

.text {
  font-size: fonts.$s0;
  font-family: fonts.$body;
}

.ui-text,
.ui-text p {
  font-family: fonts.$ui;
  color: colors.$text;
}

.small-text {
  font-size: fonts.$s-1;
}

.showarchive {
  cursor: pointer;
}

.friends {
  padding-top: 2rem;
  img {
    margin: 0 !important;
  }
}

// Selection styles
::selection {
  background-color: #babbf1;
}

// Tooltip styles
.react-tooltip {
  @include mixins.screen('mobile') {
    display: none !important;
  }
  background: rgba(30, 102, 245) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2) !important;
  color: white !important;
  font-family: fonts.$ui;
  padding: 2px 5px !important;
  transform: translateY(10px);
  z-index: 9999 !important;
}

.react-tooltip__closing {
  animation: disappear 0.15s forwards 0.05s;
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(10px);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
