@use 'fonts';
@use 'colors';
@use 'mixins';

.intro-star {
  font-size: fonts.$s-1;
  color: colors.$yellow;
}

.star2 {
  color: colors.$orange;
}

.star3 {
  color: colors.$red;
}

.book-container {
  @include mixins.screen('not-mobile') {
    &:hover {
      border-left: solid colors.$pink 5px;
      transform: scale(1.01);

      .book-title {
        font-weight: 500;
      }
    }
  }
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  height: 12rem;
  color: colors.$text;
  font-family: fonts.$body;
  transition: all 0.15s ease-in-out;
  border-left: solid transparent 0px;

  img {
    height: 90%;
    margin-right: 1rem;

    @include mixins.screen('not-mobile') {
      margin-left: 2rem;
    }
  }

  .book-right {
    height: 90%;
    margin-left: 0.5rem;
  }

  .book-title {
    font-size: fonts.$s1;
    font-family: fonts.$header;
    margin-right: 0.5rem;
    font-weight: 450;
  }

  .book-author,
  .book-place,
  .book-genres {
    font-size: fonts.$s-1;
    font-family: fonts.$header;
  }

  .book-author {
    margin-right: 0.5rem;

    @include mixins.screen('not-mobile') {
      white-space: nowrap;
    }
  }

  .pin {
    margin-right: 0.25rem;
  }

  .book-description {
    font-size: fonts.$s-1;
    margin-top: 0.5rem;
  }
}
