@use 'fonts';
@use 'colors';
@use 'mixins';

.link {
  text-decoration: none;
  color: colors.$text-light;
  font-weight: normal;
  transition: all 0.1s ease-in-out;

  @include mixins.screen('not-mobile') {
    position: relative;

    &:hover,
    &.nav-current {
      &::before {
        visibility: visible;
        transform: scaleX(1);
      }

      color: colors.$dark-green;

      .custom-tooltip {
        transform: translateY(0px) !important;
        opacity: 1;
      }
    }

    // Link animation inspired by https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
    &::before,
    &.nav-current::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -1px;
      left: 0;
      background-color: colors.$dark-green;
      visibility: hidden;
      transform: scaleX(0);
      font-weight: bold;
      transition: all 0.1s ease-in-out 0s;
    }
  }
}

.blue-link {
  color: colors.$dark-green !important;
  transition: all 0.25s ease-in-out;

  @include mixins.screen('not-mobile') {
    &::before {
      background-color: colors.$dark-green !important;
    }

    &:hover {
      color: colors.$light-green !important;
    }
  }
}

:root {
  --rt-transition-show-delay: 0.05s;
  --rt-transition-closing-delay: 0.05s;
}

.custom-tooltip {
  background-color: white !important;
  transform: translateY(20px) !important;
  transition: all ease-in-out 0.25s !important;

  &:hover {
    transform: translateY(0px) !important;
  }
}

.internal-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 0px 3px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  animation: ilink-tr 0.25s reverse;
  background-color: colors.$extra-light-green;

  &:hover {
    color: colors.$background-light;
    background-color: colors.$light-green;
    font-weight: 475;
  }
}

.arrow {
  font-family: fonts.$ui;
}

img.garden-sprout {
  display: inline !important;
  height: 1em !important;
  max-width: none !important;
  vertical-align: middle !important;
  margin: 0 2px 0 0 !important;
  position: relative;
  top: -2px;
}

// Tooltip styles
.react-tooltip {
  @include mixins.screen('mobile') {
    display: none !important;
  }
  background: colors.$light-green !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2) !important;
  color: colors.$background-light !important;
  font-family: fonts.$ui;
  padding: 2px 5px !important;
  transform: translateY(10px);
  z-index: 9999 !important;
}

.react-tooltip__closing {
  animation: disappear 0.15s forwards 0.05s;
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(10px);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
