@use 'fonts';
@use 'colors';

h2 {
    padding-top: 3rem;
}

.proj-link {
    font-size: 1.5rem;
    font-weight: bold;
}

.proj-container {
    background-color: colors.$background-alt;
    display: flex;
    padding: 0.5rem;
    margin: 2rem 0;
}

.proj-sidebar {
    border-right: solid colors.$background-light 1px;
    margin: 0.25rem;
    margin-right: 1rem;
    padding: 0.1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
.proj-status {
    color: colors.$background-light;
    font-family: fonts.$header;
    font-size: 1.25rem;
}

.curr-status {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}