@use 'fonts';
@use 'colors';

.pronunciation {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  .ipa {
    font-family: fonts.$sans;
    color: colors.$text-light;
    font-size: fonts.$s-1;
  }

  .audio-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: fonts.$s-2;
    display: inline-flex;
    align-items: center;
    transition: transform 0.1s ease;
    color: colors.$text-light;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
