@use 'fonts';
@use 'colors';
@use 'mixins';

.sort,
.filter {
    font-family: fonts.$ui;
}

.category-btn,
.filter-btn {
    color: colors.$text;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    user-select: none;
    margin: 4px 6px;

    &:hover {
        color: colors.$blue;
    }

    &.category-selected {
        font-weight: bold;
    }
}

.recipe-container {
    margin: 1rem 0;
    font-size: fonts.$s-1;
    font-family: fonts.$ui;
}

.ssf-recipe-description {
    font-family: fonts.$sans;
    font-size: fonts.$s-2;
}