{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "@astro/prettier-plugin-astro"],
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
