{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-astro"],
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
