---
import Layout from '../../components/color-app/ColorAppLayout.astro';
---

<Layout title="About | Colors">
  <div class="about-container">
    <div class="about-content">
      <p>
        I made this page to keep track of all the color palettes I’ve created or have enjoyed using. I’ve found myself flipping through hundreds of tabs for color matching inspiration; I hope that this site can help me (and maybe you) reduce the clutter a bit!
      </p>

      <p>
        This page was generated with <strong>Antigravity</strong> for my <a href="https://bencuan.me/blog/vibe25">State of Vibe Coding evaluation</a> in December 2025. If you’re reading this, you’re looking at the winning submission! Congrats to <strong>Antigravity</strong> :)
      </p>

      <p>
        The Explorer was seeded with color books from <a href="https://github.com/jacobbubu/acb">this repository</a>. View the source code <a href="https://github.com/64bitpandas/bencuan.me/tree/main/src/color-books">here</a> if you’d like to access these colors in JSON format.
      </p>

      <p>
        This page is typeset in <span class="font-manrope">Manrope</span> and <span class="font-fira">fira code</span>. Its default accent color is <a href="https://catppuccin.com/">Catppuccin blue</a>.
      </p>

      <div class="about-footer">
          <a href="/">Click here</a> to go home.
      </div>
    </div>
  </div>
</Layout>
