---
---

<footer class="color-footer">
  <img src="/favicon.png" alt="Kevin the Dinosaur" class="color-footer__dino" />
  <a href="https://bencuan.me" class="color-footer__link">back to bencuan.me</a>
</footer>
