---
import { ILink } from '../components/links';
import '../sass/layout.scss';
import '../sass/links.scss';
---

<div class="container container404">
  <h1>404</h1>
  <p>there's nothing here yet... email me at contact (at) bencuan (dot) me if you expected something!</p>
  <ILink href="/">go back home</ILink>
</div>
