---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.tsx';
import Seo from '../components/seo.astro';
import '../sass/blog.scss';
import { MDLink } from '../components/links.tsx';
import { ToDateString } from '../components/factories';

export const prerender = true;
export async function getStaticPaths() {
  const entries = await getCollection('blog');
  return entries.map(entry => ({
    params: { blog: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<head>
  <Seo title={entry.data.title} description={entry.data.description} />
</head>
<Layout currPage={'blog'} client:idle>
  <h1 class="blog-title">{entry.data.title}</h1>
  <p class="blog-date">{ToDateString(entry.data.date, true)}</p>
  <Content components={{ a: MDLink }} />
</Layout>
