---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.jsx';
import Seo from '../components/seo.astro';
import '../sass/blog.scss';
import { MDLink } from '../components/links.tsx';

export const prerender = true;
export async function getStaticPaths() {
  console.log("HI")
  const entries = await getCollection('root');
  return entries.map(entry => ({
    params: { root: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<head>
    <Seo title="bencuan's website" description='builder' />
</head>
<Layout currPage={entry.data.title} client:idle>
    <h1 class="blog-title">{entry.data.title}</h1>
    <p class="blog-date">{entry.data.date}</h1>
    <Content components={{a: MDLink}} />
</Layout>
