---
import Layout from '../components/layout';
import Seo from '../components/seo.astro';
import SearchSortFilter from '../components/searchSortFilter.tsx';
import '../sass/home.scss';
import '../sass/blog.scss';
import { getCollection } from 'astro:content';

const collection = await getCollection('blog');
const items = collection.map(item => ({ ...item.data, slug: item.slug }));
---

<head>
  <Seo title="bencuan's website" description="builder" />
</head>
<Layout currPage="blog" client:idle>
  <h1 class="blog-title">blog</h1>
  <p class="splash"></p>

  <SearchSortFilter sortCategories={['title', 'date']} items={items} type="blog" client:load />
</Layout>
