---
import Layout from '../components/layout.astro';
import Seo from '../components/seo.astro';
import SearchSortFilter from '../components/searchSortFilter.tsx';
import '../sass/home.scss';
import '../sass/blog.scss';
import { getCollection } from 'astro:content';

const collection = await getCollection('blog');
const items = collection.map(item => ({ ...item.data, slug: item.slug }));
---

<Layout title="bencuan's blog" description="long-form writing projects" currPage="blog">
  <h1 class="blog-title">blog</h1>
  <p class="splash"></p>

  <SearchSortFilter
    sortCategories={['title', 'date']}
    items={items}
    itemCategories={['meta']}
    type="blog"
    client:load
  />
</Layout>
