---
import Layout from '../components/layout.astro';
import SearchSortFilter from '../components/searchSortFilter.tsx';
import '../sass/home.scss';
import '../sass/blog.scss';
import { getCollection } from 'astro:content';
import Button from '../components/button';
import { Newspaper, Rss } from '@phosphor-icons/react';

const collection = await getCollection('blog');
const items = collection.map(item => ({ ...item.data, slug: '/blog/' + item.slug }));
---

<Layout title="bencuan's blog" description="long-form writing projects" currPage="blog">
  <h1 class="blog-title">blog</h1>
  <div class="blog-buttons">
    <Button href="/rss.xml"><Rss /> rss</Button>
    <Button href="https://bencuan.substack.com"><Newspaper /> newsletter</Button>
  </div>

  <SearchSortFilter
    sortCategories={['title', 'date']}
    items={items}
    type="blog"
    defaultSort={{ category: 'date', state: 'desc' }}
    client:load
  />
</Layout>
