---
import Layout from '../components/layout.astro';
import '../sass/home.scss';
import IndexContent from './_index-content.mdx';
---

<Layout title="bencuan's website" description="welcome to my website!" currPage="home">
  <div class="name-container">
    <img src="/img/kevin2.png" />
    <h1>hi! i'm ben!</h1>
  </div>
  <div class="text">
    <!-- <p><Visitors client:idle /></p> -->
    <IndexContent />
  </div>
</Layout>
