---
import Layout from '../components/layout';
import Seo from '../components/seo.astro';
---

<head>
    <Seo title="bencuan's website" description='builder' />
</head>
<Layout currPage="bencuan" client:load>
    <h1 class="name">ben cuan</h1>
    <div>
        awesome content
    </div>
</Layout>
