---
import Layout from '../components/layout';
import Seo from '../components/seo.astro';
import '../sass/home.scss';
---

<head>
    <Seo title="bencuan's website" description='builder' />
</head>
<Layout currPage="bencuan" client:load>
    <h1 class="name">ben cuan</h1>
    <p class="splash">
        I build things and write about them sometimes.
    </p>
</Layout>
