---
import { faRss, faNewspaper } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import Layout from '../components/layout.astro';
import Visitors from '../components/visitors.tsx';
import Button from '../components/button.tsx';
import { ILink, MDLink, XLink } from '../components/links.tsx';
import '../sass/home.scss';
import Doomscroll from '../components/doomscroll';
import '../sass/doomscroll.scss';

import recommendations from '../recommendations.json';
---

<Layout title="bencuan's website" description="welcome to my website!" currPage="home">
  <h1 class="name">ben cuan</h1>
  <p class="splash">I build things and write about them sometimes.</p>
  <div class="home-buttons">
    <Button href="/rss.xml"><FontAwesomeIcon icon={faRss} /> rss</Button>
    <Button href="https://bencuan.substack.com"><FontAwesomeIcon icon={faNewspaper} /> newsletter</Button>
  </div>

  <div class="text">
    <p>> new? read the <ILink href="blog/foreword">foreword</ILink></p>
    <p>
      > latest essay: <MDLink extraPretty href="https://bencuan.me/blog/transit">the future of bay area transit</MDLink>
    </p>
    <p>> see what i'm <ILink href="projects">currently up to...</ILink></p>
    <p><Visitors client:idle /></p>
    <p><b>keep scrolling for recs~</b></p>
    <p>
      the <MDLink
        extraPretty
        href="https://open.substack.com/pub/bencuan/p/s2w4-my-website-now-has-doomscroll?r=3axqei&utm_campaign=post&utm_medium=web&showWelcomeOnShare=true"
        >doomscroller</MDLink
      > is currently under construction. please pardon the dust 🏗️
    </p>
  </div>

  <Doomscroll client:idle recommendations={recommendations} />
</Layout>
