---
import Layout from '../components/layout';
import Seo from '../components/seo.astro';
import Visitors from '../components/visitors.tsx';
import Button from '../components/button.tsx';
import '../sass/home.scss';
---

<head>
    <Seo title="bencuan's website" description='builder' />
</head>
<Layout currPage="bencuan" client:idle>
    <h1 class="name">ben cuan</h1>
    <p class="splash">
        I build things and write about them sometimes.
    </p>
    <div class="home-buttons">
        <Button href="/rss.xml">rss</Button>
        <Button href="/rss.xml">newsletter</Button>
    </div>
    
    <div class="text">
        <p>> new? read the foreword</p>
        <p><Visitors client:idle/></p>
    </div>
</Layout>
