---
import { faRss, faNewspaper } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import Layout from '../components/layout.astro';
import Visitors from '../components/visitors.tsx';
import Button from '../components/button.tsx';
import { ILink, MDLink, XLink } from '../components/links.tsx';
import '../sass/home.scss';
---

<Layout title="bencuan's website" description="welcome to my website!" currPage="home">
  <h1 class="name">ben cuan</h1>
  <p class="splash">I build things and write about them sometimes.</p>
  <div class="home-buttons">
    <Button href="/rss.xml"><FontAwesomeIcon icon={faRss} /> rss</Button>
    <Button href="https://bencuan.substack.com"><FontAwesomeIcon icon={faNewspaper} /> newsletter</Button>
  </div>

  <div class="text">
    <p>> new? read the <ILink href="blog/foreword">foreword</ILink></p>
    <p>
      > latest essay: <MDLink extraPretty href="https://bencuan.substack.com/p/the-completeish-history-of-the-computer"
        >the complete(ish) history of the computer keyboard</MDLink
      >
    </p>
    <p>> see what i'm <ILink href="projects">currently up to...</ILink></p>
    <p><Visitors client:idle /></p>
  </div>
</Layout>
