---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faBluesky } from '@fortawesome/free-brands-svg-icons';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Construction</title>
    <style>
      body {
        background-color: #24273a; /* Dark background */
        color: #cdd6f4; /* White text */
        font-family: 'Novela', Times, serif; /* Serif font */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        margin: 0;
      }
      h1 {
        font-size: 3.5em;
      }
      h2 {
        font-size: 2em;
      }
      svg {
        width: 1em;
        height: 1em;
        vertical-align: -0.125em;
        display: inline-block;
        color: #8caaee;
      }
    </style>
  </head>
  <body>
    <h2>bencuan.me is currently</h2>
    <h1>under construction</h1>
    <h2>see you on the other side :)</h2>
    <h3>
      follow me on <a href="https://bsky.app/profile/bencuan.me"><FontAwesomeIcon icon={faBluesky} /></a> for updates
    </h3>
  </body>
</html>
