/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_d37e80424dd4002051b69d561ca7bace.eot");
  src: url("./fontcustom_d37e80424dd4002051b69d561ca7bace.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_d37e80424dd4002051b69d561ca7bace.woff2") format("woff2"),
       url("./fontcustom_d37e80424dd4002051b69d561ca7bace.woff") format("woff"),
       url("./fontcustom_d37e80424dd4002051b69d561ca7bace.ttf") format("truetype"),
       url("./fontcustom_d37e80424dd4002051b69d561ca7bace.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_d37e80424dd4002051b69d561ca7bace.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-adobexd:before,
.icon-archlinux:before,
.icon-csharp:before,
.icon-flask:before,
.icon-linux:before,
.icon-ubuntu:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-adobexd:before { content: "\f105"; }
.icon-archlinux:before { content: "\f100"; }
.icon-csharp:before { content: "\f106"; }
.icon-flask:before { content: "\f101"; }
.icon-linux:before { content: "\f102"; }
.icon-ubuntu:before { content: "\f103"; }
