<!doctype html>
<html class="no-js" lang="en">

{% include 'head' %}

<body>
  {% include 'nav' %}
  {% include 'landing' %}

  <div id="content">
    {% include 'about' %}
    {% include 'teaching' %}
    {% include 'featured-projects' %}
    {% include 'more-projects' %}
    {% include 'contact' %}
  </div>

  {% include 'footer' %}
</body>
</html>
